/*
. dla klas
# dla id
nic dla znaczników
*/

*{
    margin: 0;
    padding: 0;
}

section{
    background-image: url("images/jungle.jpg");
    height: 100vh;
}

#Title{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 40vh;
}