/*
. dla klas
# dla id
nic dla znaczników
*/

*{
    margin: 0;
    padding: 0;
}

section{
    background-image: url("images/jungle.jpg");
    height: 100vh;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#Title{
    font-size: 40vh;
}

section p{
    font-size: 4vh;
    position: absolute;
    right: 5vw;
    bottom: 10vh;
}